//------------------------------------
// Custom font declarations
//------------------------------

@font-face {
	font-family: hanlinda;
	src: url(../fonts/Halida-Sans.ttf);
}

@font-face {
	font-family: sacramento-girly;
	src: url(../fonts/Sacramento-Regular.ttf);
}